numpy
matplotlib>=3.9.2
plotly>=5.24.0
pyserial>=3.5
scipy>=1.12.0
pandas>=2.2.0
pyntcloud>=0.3.1
opencv-python>=4.10  # or opencv-python-headless
pye57>=0.4.12
exifread>=3.0.0
jupyter
rpi-lgpio>=0.6
#rpi-hardware-pwm>=0.2.2
