numpy=1.26.4  # open3d 0.18.0 (aarch64) is incompatible with numpy 2.x==1.26.4
matplotlib>=3.10.9
plotly>5.24.0
pyserial>=3.5
scipy>=1.17.1
open3d>=0.18.0  # or open3d-cpu
opencv-python>=4.13.0.92  # or opencv-headless-python
pye57>=0.4.19
exifread>=3.5.1
jupyter>=1.1.1

quat>=1.0.0
mpu6050>=0.0.3

rpi-lgpio>=0.6
#rpi-hardware-pwm>=0.2.2